<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Not Found :(</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="jumbotron">
            <div class="row text-center">
                <div class="">

                </div>
            </div>
            <div class="row text-center">
                <img src="../../static/images/404.png" width="50%" height="50%" th:src="@{/images/404.png}"/>
            </div>
        </div>




</body>
</html>